<div class="container-mt-5">
  <div class="form-container">
    <h3 class="form-header">Sign Up</h3>
    <form (ngSubmit)="register()" [formGroup]="userFormGroup" novalidate>
      <div class="form-group">
        <label for="userName">Name</label>
        <input
          type="text"
          id="userName"
          formControlName="userName"
          class="form-control"
          placeholder="Enter your name"
          required
        />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          id="phoneNumber"
          formControlName="phoneNumber"
          class="form-control"
          placeholder="Enter your phone number"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="form-control"
          placeholder="Confirm your password"
          required
        />
      </div>
  <div class="form-group">
    <label for="roleName">Role</label>
    <select id="roleName" class="form-control" formControlName="roleName">
      <option value="" disabled>Select your role</option>
      @for (role of roles(); track role) {
        <option [value]="role">{{ role }}</option>
      }
    </select>
  </div>
      <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
  </div>
</div>
