<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple 404 Error Page</title>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12 col-sm-offset-1 text-center">
              <div class="bg-img">
                <h1 class="text-center">{{ '404.404' | translate }}</h1>
              </div>
              <div class="content">
                <h3 class="h2">{{ '404.subtitle' | translate }}</h3>
                <p>{{ 'common.are_you_sure' | translate }}</p>
                <a routerLink="/" class="link">{{ 'common.go_home' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
